{% extends 'base.html.twig' %}

{% block title %}Disneyland Paris - Préparez-vous à rêver encore plus grand !{% endblock %}

{% block body %}

<section id="hero-home">
    <video autoplay muted loop id="hero-home-video">
        <source src="{{ asset('/videos/hero-home.mp4') }}" type="video/mp4">
    </video>
    <div class="hero-topbar">
        <a href="/"><img src="{{ asset('/images/logo/dlp-30.svg') }}" alt="Disneyland Paris" /></a>
        <div class="hero-topbar-menu">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/destinations">Nos parcs</a></li>
                <li><a href="/hotels">Hôtels</a></li>
                <li><a href="/restaurants">Restaurants</a></li>
                <li><a href="/billetterie">Billetterie</a></li>
            </ul>
        </div>
    </div>
    <div class="hero-home-content">
        <h1>Bienvenue à Disneyland Paris</h1>
        <p>Entrez dans un monde où l'imagination n'a plus de limite.</p>
        <a href="" class="btn btn-primary">Réservez vos billets</a>
    </div>
    <div class="hero-home-hours">
        <h3>Horaires d'ouverture</h3>
        <p>{{ "now"|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
        <ul>
            {% for destination in destinations %}
                <li>
                    <span class="dest-icon">
                        <img src="{{ destination.icon }}" />
                    </span>
                    <span>
                        <strong>{{ destination.name }}</strong><br/>
                        {% if destination.hoursopening %}
                            {% if destination.hoursclosing %}
                                {{ destination.hoursopening|date('H:i') }} à {{ destination.hoursclosing|date('H:i') }}
                            {% else %}
                                Ouvert dès {{ destination.hoursopening|date('H:i') }}
                            {% endif %}
                        {% else %}
                            Fermé
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="divider-bottom">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" class="shape-fill"></path>
        </svg>
    </div>
</section>


{% if destinations %}
    <section id="destinations" class="home">
        <div class="section-title">
            <img src="{{ asset('/images/icons/destinations.svg') }}" alt="Nos destinations - Disneyland Paris" />
            <h2>Place au rêve à Disneyland Paris</h2>
        </div>
        <p>Découvrez toutes les destinations qui composent notre resort parisien. Faites le plein de magie au sein de nos deux parcs à thème, ainsi qu'au Disney Village.</p>
        <div class="cards">
            {% for destination in destinations %}
                <div class="card" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 100%),url({% if destination.image %}{{ destination.image }}{% else %}/images/default-bg.jpg{% endif %});">
                    <h3>{{ destination.name }}</h3>
                    <div class="card-body">
                        <a href="/destinations/{{ destination.slug }}" class="btn btn-primary">Découvrir le {{destination.name}}</a>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </section>
{% endif %}

{% if nouveautes %}
    <section id="actualites">
        <div class="section-title">
            <img src="{{ asset('/images/icons/destinations.svg') }}" alt="Nos destinations - Disneyland Paris" />
            <h2>En ce moment à Disneyland Paris</h2>
        </div>

    </section>
{% endif %}

{% if hotels %}
    <section id="hotels" class="spaced">
        <div class="section-title">
            <img src="{{ asset('/images/icons/hotels.svg') }}" alt="Nos hôtels - Disneyland Paris" />
            <h2>Prolongez la magie jusque dans vos rêves</h2>
        </div>
        <p>Choisissez votre hôtel parmi notre large gamme d'hôtels. Vous trouverez forcément celui qui vous convient.</p>
        <div class="cards">
            {% for hotel in hotels %}
                <a href="/hotels/{{ hotel.slug }}" class="card" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 100%),url({% if hotel.image %}{{ hotel.image }}{% else %}/images/default-bg.jpg{% endif %});">
                    <h3>{{ hotel.name }}</h3>
                    {% if hotel.stars %}
                        <p>
                            {% for i in range(1, hotel.stars) %}
                                &#9733;
                            {% endfor %}
                        </p>
                    {% endif %}
                </a>
            {% endfor %}    
        </div>
    </section>
{% endif %}

{% endblock %}
