{% extends 'base.html.twig' %}

{% block title %}Créez votre compte Disney Rider{% endblock %}

{% block body %}
<div class="page-title">
    <h1>Créez votre compte Disney Rider !</h1>
    <p>Votre compte Disney Rider est valable sur les sites de tous les parcs Disney.<br/>Billets, séjours, pass annuels, tout est au même endroit !</p>
</div>

    {{ form_start(registrationForm, { 'attr' : { 'class': 'secu-form' } }) }}
        {{ form_row(registrationForm.firstName, {
            'attr': {'placeholder': 'Prénom'},
            label: "Prénom"
        }) }}
        {{ form_row(registrationForm.lastName, {
            'attr': {'placeholder': 'Nom'},
            label: "Nom"
        }) }}
        {{ form_row(registrationForm.email, {
            'attr': {'placeholder': 'Adresse e-mail'},
            label: "Adresse e-mail"
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            'attr': {'placeholder': 'Mot de passe'},
            label: "Mot de passe"
        }) }}
        {{ form_row(registrationForm.birthDate, {
            'attr': {'placeholder': 'Date de naissance'},
            label: "Date de naissance"
        }) }}
        {{ form_row(registrationForm.acceptOffers, {
            'choice_row_attr': {'class': 'agree'},
            label: "Oui ! Je souhaite recevoir, par e-mail, des offres spéciales et des mises à jour à propos de Disneyland Paris et d'autres produits et services du groupe d'entreprises Walt Disney."
            
        }) }}

        <button type="submit" class="btn">Créer mon compte</button>
    {{ form_end(registrationForm) }}

<p class="text-center">Vous avez déjà un compte Disney Rider ? <a href="{{ path('app_login') }}">Connectez-vous</a>.</p>
{% endblock %}
