<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="/css/style.css">

        <!-- FAVICONS -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/images/favicons/site.webmanifest">
        <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#0149e8">
        <link rel="shortcut icon" href="/images/favicons/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Disneyland Paris">
        <meta name="application-name" content="Disneyland Paris">
        <meta name="msapplication-TileColor" content="#0149e8">
        <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% if (withoutheader is not defined) %}
                <section id="hero-page" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 100%),url({% if topimg is defined and topimg %}{{ topimg }}{% else %}/images/default-bg.jpg{% endif %})">
                    <div class="hero-topbar">
                        <a href="/"><img src="{{ asset('/images/logo/dlp-30.svg') }}" alt="Disneyland Paris" /></a>
                        <div class="hero-topbar-menu">
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li><a href="/destinations">Nos parcs</a></li>
                                <li><a href="/hotels">Hôtels</a></li>
                                <li><a href="/restaurants">Restaurants</a></li>
                                <li><a href="/ticketing">Billetterie</a></li>
                                <li>
                                    <a class="connect" href="/disney-rider">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14.8" height="18" fill="#202249"><g width="14.8" height="18" fill-rule="evenodd" stroke="none" stroke-width="1"><path fill="#202249" d="M17.217 12.684C19.506 13.812 21 15.929 21 19.386v.608C21 20.55 20.5 21 19.89 21H4.11C3.5 21 3 20.55 3 19.994v-.608c0-3.425 1.467-5.536 3.72-6.67a7.368 7.368 0 005.233 2.171c2.065 0 3.93-.846 5.264-2.203zM11.953 2c3.155 0 5.714 2.524 5.714 5.639s-2.559 5.638-5.714 5.638c-3.154 0-5.71-2.523-5.71-5.638C6.242 4.524 8.798 2 11.952 2z"></path></g></svg>
                                        {% if  app.user %}
                                            {{ app.user.firstname }}
                                        {% else %}
                                            Se connecter
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider-bottom">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" class="shape-fill"></path>
                        </svg>
                    </div>
                </section>
            {% endif %}
        </header>
        <main>
            {% block body %}
            {% endblock %}
        </main>
        <footer>
            <div class="copyright-container">
                <p class="copyright text-center">Nous appliquons des mesures d’hygiène et de sécurité renforcées à Disneyland Paris pour la sécurité de tous. Consultez le <a href="https://www.disneylandparis.com/fr-fr/mesures-sanitaires/">En savoir plus</a> avant votre venue.<br>© Disney • Pixar © &amp; TM Lucasfilm Ltd. © MARVEL. Tous droits réservés</p>
            </div>
        </footer>
    </body>
</html>
