{% extends 'base.html.twig' %}

{% block title %}{{ destination.name }} à Disneyland Paris{% endblock %}

{% block body %}

<h1 class="page-title">{{ destination.name }}</h1>

<p>Lands :</p>

<ul>
    {% for land in lands %}
        <li><a href="/destinations/{{ destination.slug }}/{{ land.slug }}">{{ land.name }}</a></li>
    {% endfor %}
</ul>

<p>Attractions :</p>

<ul>
    {% for attraction in attractions %}
        <li><a href="/attractions/{{ destination.slug }}/{{ attraction.slug }}">{{ attraction.name }}</a></li>
    {% endfor %}
</ul>

<p>Restaurants :</p>

<ul>
    {% for restaurant in restaurants %}
        <li>{{ restaurant.name }}</li>
    {% endfor %}
</ul>

{% endblock %}
