{% extends 'base.html.twig' %}

{% block title %}{{ destination.name }} à Disneyland Paris{% endblock %}

{% block body %}

<div class="page-title">
    <h1>Le {{ destination.name }}</h1>
    <p>{{ destination.description }}</p>
</div>

{% if lands is not empty %}
<section class="section-land">
    <div class="section-title">
        <img src="{{ asset('/images/icons/destinations.svg') }}" alt="Nos destinations - Disneyland Paris" />
        <h2>Les lands du {{ destination.name }}</h2>
    </div>

    <div class="cards">
        {% for land in lands %}
            <a href ="/destinations/{{ destination.slug }}/{{ land.slug }}" class="card" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 100%),url({% if land.image %}{{ land.image }}{% else %}/images/default-bg.jpg{% endif %});">
                <h3 class="text-center">{{ land.name }}</h3>
            </a>
        {% endfor %}    
    </div>
</section>
{% endif %}

{% if attractions is not empty %}
<section class="section-attraction">
    <div class="section-title">
        <img src="{{ asset('/images/icons/destinations.svg') }}" alt="Nos destinations - Disneyland Paris" />
        <h2>Nos attractions pour toute la famille</h2>
    </div>

    <div class="cards">
        {% for attraction in attractions %}
            <a href ="/attractions/{{ destination.slug }}/{{ attraction.slug }}" class="card" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 100%),url({% if attraction.image is defined %}{{ attraction.image }}{% else %}/images/default-bg.jpg{% endif %});">
                <h3 class="text-center">{{ attraction.name }}</h3>
            </a>
        {% endfor %}    
    </div>
</section>
{% endif %}

{% if restaurants is not empty %}
<section class="section-restaurant">
    <div class="section-title">
        <img src="{{ asset('/images/icons/destinations.svg') }}" alt="Nos destinations - Disneyland Paris" />
        <h2>Nos restaurants pour les plus gourmands</h2>
    </div>

    <div class="cards">
        {% for restaurant in restaurants %}
            <a href ="/restaurants/{{ restaurant.slug }}" class="card" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 100%),url({% if restaurant.image is defined %}{{ restaurant.image }}{% else %}/images/default-bg.jpg{% endif %});">
                <h3 class="text-center">{{ restaurant.name }}</h3>
            </a>
        {% endfor %}    
    </div>
</section>
{% endif %}

{% if other_destinations is not empty %}
<section class="section-restaurant">
    <div class="section-title">
        <img src="{{ asset('/images/icons/destinations.svg') }}" alt="Nos destinations - Disneyland Paris" />
        <h2>Nos autres desinations</h2>
    </div>

    <div class="cards">
        {% for destination in other_destinations %}
            <a href ="/destinations/{{ destination.slug }}" class="card" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.0) 100%),url({% if destination.image %}{{ destination.image }}{% else %}/images/default-bg.jpg{% endif %});">
                <h3 class="text-center">{{ destination.name }}</h3>
            </a>
        {% endfor %}    
    </div>
</section>
{% endif %}

{% endblock %}
