{% extends 'base.html.twig' %}

{% block title %}{{ land.name }} dans le {{ destination.name }}{% endblock %}

{% block body %}

<div class="page-title">
    <h1>{{ land.name }} dans le {{ destination.name }}</h1>
    <p>{{ land.description }}</p>
</div>

<p>Attractions :</p>

<ul>
    {% for attraction in attractions %}
        <li><a href="/attractions/{{ destination.slug }}/{{ attraction.slug }}">{{ attraction.name }}</a></li>
    {% endfor %}
</ul>

<p>Restaurants :</p>

<ul>
    {% for restaurant in restaurants %}
        <li>{{ restaurant.name }}</li>
    {% endfor %}
</ul>

{% endblock %}
